<ul>
    <li><strong>From State Route 520 (Eastbound)</strong>
        <ul>
            <li>Take the 148th Ave. NE exit</li>
            <li>Head south on 148th Ave. NE (0.1 miles)</li>
            <li>Turn right onto NE 24th St. (0.4 miles)</li>
            <li>Turn left onto 140th Ave. NE (0.1 miles)</li>
            <li>Dunn Lumber will be on the left.</li>
        </ul>
    </li>
    <li><strong>From State Route 520 (Westbound)</strong>
        <ul>
            <li>Take the 148th Ave. NE exit (0.3 miles)</li>
            <li>Turn left onto 148th Ave. NE (0.4 miles)</li>
            <li>Turn right onto NE 24th St. (0.5 miles)</li>
            <li>Turn left onto 140th Ave. NE (0.1 miles)</li>
            <li>Dunn Lumber will be on the left.</li>
        </ul>
    </li>
    <li><strong>From downtown Bellevue</strong>
        <ul>
            <li>Head eastbound on NE 8th St.</li>
            <li>Turn left onto 124th Ave. NE</li>
            <li>Turn right onto Bel-Red Rd. (1.0 miles)</li>
            <li>Turn left onto 140th Ave. NE (0.4 miles)</li>
            <li>Dunn Lumber will be on the right</li>
        </ul>
    </li>
</ul>
<p><b>Special Large truck/vendor delivery directions</b></p>
<p>Trucks should enter via the main gate on 140th Ave. NE. If your arrival is after hours you may find parking across
    the street to the west of the Skate King Parking lot. Call the store and ask for the yard foreman or <a
        title="Send a message" href="{{config path="web/secure/base_url"}}contact">send a message</a> for
    further information concerning deliveries.</p>