<ul>
    <li>
        <strong>FROM I-5 (NORTHBOUND OR SOUTHBOUND)</strong>
        <ul>
            <li>Take exit 189 toward Everett Mall Way</li>
            <li>Head west on Highway 526 toward Mukilteo (0.5 miles)</li>
            <li>Take the Evergreen Way exit and turn left onto Evergreen Way.</li>
            <li>Turn left onto Casino Rd.</li>
            <li>Dunn Lumber will be on your left</li>
        </ul>

    </li>
    <li>
        <strong>FROM MUKILTEO (EASTBOUND)</strong>
        <ul>
            <li>From Mukilteo speedway turn east at 84th St, SW which has signs  for Highway 525/Everett/Seattle
            </li>
            <li>Turn left onto Highway 526 Boeing Freeway (2.8 miles)</li>
            <li>Take the Evergreen Way (0.1 miles)</li>
            <li>Turn left onto Casino Rd.</li>
            <li>Dunn Lumber will be on your left</li>
        </ul>

    </li>
    <li>
        <strong>Special Large truck/vendor delivery directions</strong>
        <p>Approach the Dunn Lumber store in Everett from Casino Road to unload in the East parking lot. You will be
            able to see if a second truck is waiting to be unloaded. At this point you have two options. Park in the
            turn lane of Casino Road and wait for the access to clear. Go to your next delivery and return later
            that day</p>
        <p><a title="Contac us" href="{{config path="web/secure/base_url"}}contact">Contact us</a> directly for further
            information concerning deliveries.</p>

    </li>
</ul>